<div class= 'back-color'>
  <div class= 'top-images'>
  </div>
  <div class= 'border'>
    <div class= 'category-text'>
      <h2 class= 'text'>カテゴリーから探す</h2>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to image_tag("焼肉 (2).png", class:"cate"), category_index_path(category_id: 2) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("寿司.png", class:"cate"), category_index_path(category_id: 3) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("ラーメン.png", class:"cate"), category_index_path(category_id: 4) %>
      </div>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to image_tag("居酒屋.png", class:"cate"), category_index_path(category_id: 5) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("cafe.png", class:"cate"), category_index_path(category_id: 6) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("加.png", class:"cate"), category_index_path(category_id: 7) %>
      </div>
    </div>
  </div>
  <div class= 'border'>
    <div class= 'category-text'>
      <h2 class= 'text'>値段から探す</h2>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to image_tag("0 _ 1000円.png", class:"cate"), price_index_path(price_id: 2) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("1000円 _ 2000円.png", class:"cate"), price_index_path(price_id: 3) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("2000円 _ 3000円.png", class:"cate"), price_index_path(price_id: 4) %>
      </div>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to image_tag("3000円 _ 5000円.png", class:"cate"), price_index_path(price_id: 5) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("5000円 _ 10000円.png", class:"cate"), price_index_path(price_id: 6) %>
      </div>
      <div class= 'category'>
        <%= link_to image_tag("10000円 _.png", class:"cate"), price_index_path(price_id: 7) %>
      </div>
    </div>
  </div>
  <div class= 'border'>
    <h2 class= 'shop-top'>TDCでお店を紹介してみませんか？</h2>
    <p class= 'shop-form'>1分で簡単登録！！今すぐお店を登録しましょう！！</p>
    <div class='shop-btn'>
      <%= link_to 'お店を登録', new_tdc_path, class: "item-red-btn" %>
    </div>
  </div>
  <div class= 'border2'>
    <%= link_to '説明欄', info_index_path, class: "btn" %>
  </div>
</div>
