<div class= 'back-color'>
  <div class= 'top-images'>
  </div>
  <div class= 'border'>
    <div class= 'category-text'>
      <h2 class= 'text'>カテゴリーから探す</h2>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to '焼肉', category_index_path(category_id: 2) %>
      </div>
      <div class= 'category'>
        <%= link_to '寿司', category_index_path(category_id: 3) %>
      </div>
      <div class= 'category'>
        <%= link_to 'ラーメン', category_index_path(category_id: 4) %>
      </div>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to '居酒屋', category_index_path(category_id: 5) %>
      </div>
      <div class= 'category'>
        <%= link_to 'cafe', category_index_path(category_id: 6) %>
      </div>
      <div class= 'category'>
        <%= link_to 'その他', category_index_path(category_id: 7) %>
      </div>
    </div>
  </div>
  <div class= 'border'>
    <div class= 'category-text'>
      <h2 class= 'text'>値段から探す</h2>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to '0 ~ 1000円', price_index_path(price_id: 2) %>
      </div>
      <div class= 'category'>
        <%= link_to '1000 ~ 2000円', price_index_path(price_id: 3) %>
      </div>
      <div class= 'category'>
        <%= link_to '2000 ~ 3000円', price_index_path(price_id: 4) %>
      </div>
    </div>
    <div class ='category-box'>
      <div class= 'category'>
        <%= link_to '3000 ~ 5000円', price_index_path(price_id: 5) %>
      </div>
      <div class= 'category'>
        <%= link_to '5000 ~ 10000円', price_index_path(price_id: 6) %>
      </div>
      <div class= 'category'>
        <%= link_to '10000円以上', price_index_path(price_id: 7) %>
      </div>
    </div>
  </div>
  <div class= 'border'>
    <h2 class= 'shop-top'>TDCでお店を紹介してみませんか？</h2>
    <p class= 'shop-form'>1分で簡単登録！！今すぐお店を登録しましょう！！</p>
    <div class='shop-btn'>
      <%= link_to 'お店を登録', new_tdc_path, class: "item-red-btn" %>
    </div>
  </div>
</div>