<!DOCTYPE html>
<html>
  <head>
    <title>portforio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class='top'>
<h1>大内晴貴のポートフォリオ解説</h1>
</div>
<div class='p-box'>
  <h2>テーマ: 1からアプリを作るという経験をする。</h2>
  <p>使用した言語など</p>
  <div class='image-box'>
    <%= image_tag"スクリーンショット-2018-12-13-11.34.09.png", class:"images" %>
    <%= image_tag"download-1.png", class:"images" %>
    <%= image_tag"fd39f7be9f2aaa62e16506e9aa2882f4.png", class:"images" %>
    <%= image_tag"download-2.png", class:"images" %>
    <%= image_tag"square_274b1338-1884-4eb3-ad8f-bb159162c810.png", class:"images" %>
  </div>
  <div class='info'>
    <%= video_tag  "cd3052202d3041ecd26684f2f834a2cc.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>こちらのアプリは私の地元豊田市の飲食店をスマホやラインで簡単に探せるアプリとなっております。見た目はシンプルで使いやすい物をイメージしました。特にデザインで意識したところは<span>凹凸の付け方</span>です。大手のwebサイトでは色の使い方で凹凸を表現しているように感じ自分も見様見真似ですが再現してみました</p>
  </div>
  <div class='info'>
    <%= video_tag  "e93117c23e9544dcbca9a1376584bd95.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>中もシンプルにこの様な感じです。</p>
  </div>
  <div class='info'>
    <%= video_tag  "7277fa43db537e6a86b5a2f5ab9ee480.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>公式ラインを追加することによって<span>ラインでお店を探す</span>ことができ<span>スマホなどでラインをダウンロードしている場合はすぐに「友達を追加する」のボタンがある画面にとびます。</span></p>
  </div>
  <div class='info'>
    <%= video_tag  "1217.t.mp4",:controls => true, :loop => true,:muted => true,class:"videos" %>
    <p>左の動画の様に特定の言葉を打って頂くと、それに合ったページを返してくれます。</p>
  </div>
  <div class='message'>
    <h2>感想</h2>
    <ul>
      <li>デザインの学習不足</li>
      <li>工数のかかりすぎ</li>
      <li>設計が甘い</li>
    </ul>
    <p>今回のアプリを作ってみてrubyの構造が頭の中で整理された感覚があったのと<span>canvaやlineとの同期</span>など経験ができそれらは非常によかったと思うがデータベース設計が甘かったり昨日の設計がうまくでいていなかったり経験不足を非常によく感じることができ経験としては良いものとなったと思います</p>
  </div>
</div>
<div class='p-box'>
  <h2>テーマ: gemを使用し高速でアプリを作成する</h2>
  <p>使用した言語など</p>
  <div class='image-box'>
    <%= image_tag"スクリーンショット-2018-12-13-11.34.09.png", class:"images" %>
    <%= image_tag"download-1.png", class:"images" %>
    <%= image_tag"fd39f7be9f2aaa62e16506e9aa2882f4.png", class:"images" %>
    <%= image_tag"download-2.png", class:"images" %>
  </div>
  <div class='info'>
    <%= video_tag  "5effe7b26882ba0ed504478a3edc9f2d.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>こちらのアプリは予約アプリとなっており先ほどのアプリと同時に使って頂くと非常に便利なアプリとなっております。ユーザー登録がないため<span>1分で予約が可能</span>です</p>
  </div>
  <div class='info'>
    <%= video_tag  "8624e0118d44cebca0b905124c0917f6.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>入力するだけで予約完了</p>
  </div>
  <div class='info'>
    <%= video_tag  "8c4dadeef51312bf8e78a3458792f507.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>店舗側からもメッセージを表示させることができます</p>
  </div>
  <div class='info'>
    <%= video_tag  "eecac90f627487215cd17dfef3fdfead.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>店舗側からは情報を編集することが出来ます</p>
  </div>
  <div class='message'>
    <h2>感想</h2>
    <ul>
      <li>スマホで見ると文字やボタンが小さい</li>
      <li>プロの仕事とは言えない</li>
    </ul>
    <p>今回のアプリをスマホで確認してみるとボタンや文字が小さく見にくいなどシンプルカレンダーが英語で使いずらいなど様々な問題点がありプロの仕事とは言えないという反省点が残りました。ですが今回のアプリ作成でgemの凄さが非常によくわかりました。実際に今回のアプリを<span>作成するまでに掛かった時間は3日</span>という結果になり非常によかったと思います。それとアプリ作成が２つ目ということもあり経験によって時間短縮ができたと思い改めて経験の大事さを感じました。</p>
  </div>
</div>
<div class='p-box'>
  <h2>テーマ: docker jquely javascriptを使用し作成する</h2>
  <p>使用した言語など</p>
  <div class='image-box'>
    <%= image_tag"スクリーンショット-2018-12-13-11.34.09.png", class:"images" %>
    <%= image_tag"download-1.png", class:"images" %>
    <%= image_tag"fd39f7be9f2aaa62e16506e9aa2882f4.png", class:"images" %>
    <%= image_tag"download-3.png", class:"images" %>
    <%= image_tag"js.png", class:"images" %>
    <%= image_tag"lfVWBmiW_400x400.png", class:"images" %>
  </div>
  <div class='info'>
    <%= image_tag"03_A04A7613-696x464.jpg", class:"videos" %>
    <p>メモアプリを作成、showroomの前田社長が書かれたメモの魔力という本の内容を参考に作成したメモアプリです。</p>
  </div>
  <div class='info'>
    <%= video_tag  "f46c5cf2aa1e76d286edddecdcaf89a1.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>jquelyを使用しオシャレな？ページを作成</p>
  </div>
  <div class='info'>
    <%= video_tag  "b41faf6948ba95f2277358367eaa4db7.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>javascriptを使用し非同期通信を可能にしております。</p>
  </div>
  <div class='info'>
    <%= video_tag  "e7ce8e4b4f580afe6636702b38c98f8f.mp4",:controls => true, :loop => true,class:"videos" %>
    <p>ノートの中身はこのようになっており前田さんのノートの取り方をそのまま再現できるようになっています。cssでノートを作成するのは難しかったですが意外と上手くいって本人は満足しています。</p>
  </div>
  <div class='message2'>
    <h2>感想</h2>
    <ul>
      <li>dockerを使用し環境構築することが少しだけ出来た。</li>
      <li>jquelyはイメージしたまま完璧に出来た。</li>
      <li>アプリとしてはめちゃくちゃ使いやすい！</li>
    </ul>
    <p>分かってはいたがdockerかなり難しかったので正直完璧に理解は出来ていない状況です。ですがdockerを使用し環境構築することで、<span>dockerという物自体に慣れることが出来き非常に良かった。</span>jquelyはコードも書きやすくしっかりとアニメーションが出来そうだったのでやってみましたが、想像以上に上手く簡単に出来たのでよかったです！非同期通信に関してはなかなか理解に時間が掛かってしまいましたが何とか形にすることが出来ました。アプリ本体に関しては、ほんとに使いやすい！実用性が非常にあり自分は毎日多様している程です。なかなか<span>メモにメモをできるアプリがなかった</span>ため作成したのですがとても良かったです。</p>
  </div>
</div>

<div class='info'>
    <%= image_tag"スクリーンショット-2018-12-13-11.34.09.png", class:"apuri" %>
    
</div>